body {
	font-family: 'Segoe UI', sans-serif;
}
#setting{
	margin-top: 5%
}
#qrcode img, #qrcode canvas {
	max-width: 100%;
	min-height: 80%;
}
#linecolor, #backcolor{
	min-width: 100%;
}
